// General Styling
// imports
@import url('https://fonts.googleapis.com/css?family=Sacramento|Fredericka+the+Great|Quicksand');

// general 
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: inherit;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: scroll;
    // width: 100vw;
}

span {
    flex: 99 1 auto;
}

a {
    color: inherit !important;
    text-decoration: none;

    &:link {
        color: inherit;
    }

    &:visited {
        color: inherit;
    }
}

// scrollbar
// ::-webkit-scrollbar {
//     width: 6px;
// }

// ::-webkit-scrollbar-track {
//     background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: rgb(black, .2);
//     border-radius: 20px;
// }

.w-100 {
    width: 100%;
}

// flex and grid classes 
.f-center {
    align-items: center;
    justify-content: center;
}

.f-main-end {
    justify-content: flex-end;
}

.f-main-start {
    justify-content: flex-start;
}

.f-cross-end {
    align-items: flex-end;
}

.f-cross-start {
    align-items: flex-start;
}

.f-default {
    align-items: stretch;
    justify-content: flex-start;   
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-grow {
    flex: 99 1 auto;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-self-start {
    align-self: flex-start;
}

.f-self-end {
    align-self: flex-end;
}

.g {
    display: grid;
}

.g-center {
    place-self: center;
}

.g-col-first {
    grid-column: 1;
    grid-row: 1 / -1;
}

.g-col-last {
    grid-column: -1;
    grid-row: 1 / -1;
}

.t-center {
    text-align: center;
}

// margin + padding
$directions: (
    'T': 'top',
    'B': 'bottom',
    'L': 'left',
    'R': 'right'
);
$sizes: (
    's': .33rem,
    'm': .66rem,
    'l': 1rem,
    'xl': 4rem,
    'xxl': 8rem,
);

@each $sizeName,
$sizeVal in $sizes {
    .m-#{$sizeName} {
        margin: $sizeVal
    }

    .p-#{$sizeName} {
        padding: $sizeVal
    }

    .f-row-gap-#{$sizeName} {
        row-gap: $sizeVal
    }

    .f-col-gap-#{$sizeName} {
        column-gap: $sizeVal
    }

    .mH-#{$sizeName} {
        margin-left: $sizeVal;
        margin-right: $sizeVal;
    }

    .mV-#{$sizeName} {
        margin-top: $sizeVal;
        margin-bottom: $sizeVal;
    }

    .pH-#{$sizeName} {
        padding-left: $sizeVal;
        padding-right: $sizeVal;
    }

    .pV-#{$sizeName} {
        padding-top: $sizeVal;
        padding-bottom: $sizeVal;
    }

    @each $directionShort,
    $directionLong in $directions {
        .m#{$directionShort}-#{$sizeName} {
            margin-#{$directionLong}: $sizeVal
        }

        .p#{$directionShort}-#{$sizeName} {
            padding-#{$directionLong}: $sizeVal
        }
    }
}